@font-face { font-family: MrEaves; src: url('Mr Eaves Small Caps.otf');

body {
    font-family: sans-serif;
    text-align: center;
    padding-top: 50px;
    background-image: url('PHB-background.png');
    background-size: cover;
    background-position: center;
    color: #333;
}
h1 {
    color: #000000;
    font: MrEaves;
}
button {
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    background-color: #008CBA;
    color: white;
}
